# ======================================================
# Authentik
# ======================================================
AUTHENTIK_SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET

AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_TIME_ZONE=Europe/Amsterdam


# ======================================================
# PostgreSQL
# ======================================================
PG_PASS=CHANGE_THIS_TO_A_LONG_RANDOM_PASSWORD


# ======================================================
# Local file storage
#
# Used for branding, logos, favicons, backgrounds,
# application icons, uploaded files, etc.
# ======================================================
AUTHENTIK_STORAGE__BACKEND=file
